<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
><head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="mx-auto my-5" style="width: 80vw; min-height: 70vh">

    <div>

<!--      thi is the control for the edit and account history-->
    <h3>Available funds: $<span th:text="${money}"></span></h3>
    <h3>Interest payment : $<span th:text="${monthlyInterest}"></span></h3>


    <div>
      <img th:src="@{Images/person.JPG}"  class="ml-4 "/>
        <br>
        <span th:text="${user.firstName}"></span>
      <span th:text="${user.lastName}"></span>
    <br/>
      <span th:if="${bio == null ? '':bio}"></span>
        <button>
            <a th:href="@{/edit}">
                Edit Profile
            </a>
        </button>
    </div>
    </div>

        <div>
            <h2>Loans Currently late</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td>Amount borrowed</td>
                        <td>Amount paid back</td>
                        <td>interest Rate</td>
                </thead>

                <tr th:each="loan:${ontime_loans}">
                    <td th:text="${loan.getAmountBorrowed()}"></td>
                    <td>$0</td>
                    <td th:text="${loan.getInterestRate()}"></td>
                </tr>

            </table>
        </div>

        <div>
            <h2>Loans Currently outstanding</h2>
            <table class="table">
                <thead>
                <tr>
                    <td>Amount borrowed</td>
                    <td>Amount paid back</td>
                    <td>interest Rate</td>
                    <td>late by</td>
                </tr>
                </thead>

                <tr th:each="loan:${late_loans}">
                    <td th:text="${loan.getAmountBorrowed()}"></td>
                    <td>$150</td>
                    <td th:text="${loan.getInterestRate()}"></td>
                    <td >1</td>
                </tr>

            </table>
        </div>

  </section>
</main>
</body>
</html>