<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>FairHandBorrowing Disclaimer</title>
</head>
<section layout:fragment="body">

    <h1>FairHandBorrowing Disclaimer</h1>
    <p>Please read this disclaimer carefully before using our services.</p>
    <p>By using FairHandBorrowing's services, you accept and agree to the following:</p>
    <ol>
        <li>All financial decisions you make are solely your responsibility. FairHandBorrowing does not provide financial advice and cannot be held liable for any losses incurred.</li>
        <li>FairHandBorrowing is not responsible for the accuracy, completeness, or reliability of any information, content, or materials provided.</li>
        <li>Using FairHandBorrowing's services does not guarantee approval for any financial products or loans.</li>
        <li>FairHandBorrowing is not liable for any damages, losses, or expenses resulting from the use of our services.</li>
        <li>We do not endorse or warrant any third-party products, services, or websites linked to or from our platform.</li>
        <li>Any testimonials, reviews, or success stories displayed on our website are not indicative of future results and individual experiences may vary.</li>
        <li>FairHandBorrowing reserves the right to modify, suspend, or discontinue any aspect of the services at any time.</li>
        <li>We do not guarantee the security or privacy of any data transmitted through our website.</li>
    </ol>
    <p>Please seek professional financial advice before making any significant financial decisions.</p>
    <p>Contact us if you have any questions or concerns regarding this disclaimer.</p>


</section>
</html>