<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

>

<div th:fragment="dev-nav">
  <p>implemt the following   </p>
  <ul class="nav nav-pills">

    <li class="nav-item">
      <a class="nav-link ui-state-disabled " th:href="@{/loan}">loan - working on </a>
    </li>

    <li class="nav-item">
      <a class="nav-link ui-state-disabled" th:href="@{/collateral}">Collateral - can only display from db</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" th:href="@{/}">Categories</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/}">A single loan</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" th:href="@{/}">user page</a>
    </li>


  </ul>


</div>








</html>