<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--  xmlns:th="http://www.thymeleaf.org"-->
<!--&gt;-->


<!--  <div th:fragment="header">-->
<!--    <header>-->
<!--      <title>Fair Hand Borrowing</title>-->


<!--      <link rel="icon" type="image/x-icon" th:src="@{Images/favicon.JPG}">-->
<!--      <link rel="stylesheet" th:href="@{Css/WebsiteLayOut.css}">-->


<!--      <img th:src="@{Images/favicon.JPG}"  class="ml-4 "/>-->
<!--      <div th:insert="~{Components/HeaderFooterComponents :: register-nav}"> </div>-->
<!--      <div th:insert="~{Components/HeaderFooterComponents:: top-nav}"></div>-->


<!--&lt;!&ndash;&lt;!&ndash; Custom css&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <link rel="stylesheet" th:href="@{/css/custom.css}"/>&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;  Boot strap&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">&ndash;&gt;-->
<!--&lt;!&ndash;      <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">&ndash;&gt;-->

<!--&lt;!&ndash;      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>&ndash;&gt;-->


<!--    </header>-->
<!--     </div>-->

<!--&lt;!&ndash;  <div th:fragment="top-nav">&ndash;&gt;-->
<!--&lt;!&ndash;      <ul class="nav nav-pills">&ndash;&gt;-->

<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" th:href="@{/}">Landing page</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->

<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" th:href="@{/}">Categories</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->

<!--&lt;!&ndash;        <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link" th:href="@{/profile}">profile</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->

<!--&lt;!&ndash;        <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Legal Pages</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a class="dropdown-item" th:href="@{/legal/acceptable_use_policy}">Acceptable Use Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a class="dropdown-item" th:href="@{/legal/cookies_policy}" >Cookies Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a class="dropdown-item" th:href="@{/legal/insurance_policy}" >Insurance Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a class="dropdown-item" th:href="@{/legal/disclaimer}">Disclaimer</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a class="dropdown-item" th:href="@{/legal/privacy_policy}">Privacy Policy</a></li>&ndash;&gt;-->

<!--&lt;!&ndash;            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a class="dropdown-item" th:href="@{/legal/contact_us}">Contact Us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->


<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->

<!--  </div>-->

<!--  <div th:fragment="register-nav">-->

<!--    <nav class="navbar bg-body-tertiary">-->
<!--      <form class="container-fluid justify-content-start">-->
<!--        <a class="btn btn-outline-success me-2" type="button" th:href="@{/login}">Log in</a>-->
<!--        <a class="btn btn-outline-success me-2" type="button" th:href="@{/register}" >Register</a>-->
<!--      </form>-->
<!--    </nav>-->


<!--  </div>-->



<!--&lt;!&ndash;  profile navigation bar &ndash;&gt;-->


<!--  <div th:fragment="footer">-->
<!--    <p> Fair Hand Borrowing, all rights reserverd </p>-->

<!--  </div>-->



<!--</html>-->