<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>


  <div th:fragment="header">
    <header>
      <title>Fair Hand Borrowing</title>


      <link rel="icon" type="image/x-icon" th:src="@{Images/favicon.JPG}">
      <link rel="stylesheet" th:href="@{Css/WebsiteLayOut.css}">


      <img th:src="@{Images/favicon.JPG}"  class="ml-4 "/>
      <div th:insert="~{Components/HeaderFooterComponents :: register-nav}"> </div>
      <div th:insert="~{Components/HeaderFooterComponents:: top-nav}"></div>


<!-- Custom css-->
      <link rel="stylesheet" th:href="@{/css/custom.css}"/>


<!--  Boot strap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    </header>
     </div>

  <div th:fragment="top-nav">
      <ul class="nav nav-pills">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Landing page</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Categories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/profile}">profile</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Legal Pages</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/legal/acceptable_use_policy}">Acceptable Use Policy</a></li>
            <li><a class="dropdown-item" th:href="@{/legal/cookies_policy}" >Cookies Policy</a></li>
            <li><a class="dropdown-item" th:href="@{/legal/insurance_policy}" >Insurance Policy</a></li>
            <li><a class="dropdown-item" th:href="@{/legal/disclaimer}">Disclaimer</a></li>
            <li><a class="dropdown-item" th:href="@{/legal/privacy_policy}">Privacy Policy</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/legal/contact_us}">Contact Us</a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

  </div>

  <div th:fragment="register-nav">

    <nav class="navbar bg-body-tertiary">
      <form class="container-fluid justify-content-start">
        <a class="btn btn-outline-success me-2" type="button" th:href="@{/login}">Log in</a>
        <a class="btn btn-outline-success me-2" type="button" th:href="@{/register}" >Register</a>
      </form>
    </nav>


  </div>



<!--  profile navigation bar -->


  <div th:fragment="footer">
    <p> Fair Hand Borrowing, all rights reserverd </p>

  </div>



</html>