<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
>
<head>
    <title>Login</title>
</head>
<section layout:fragment="body">
    <div class="main d-flex justify-content-center my-5">
        <div class="login-form">
            <form method="post" th:action="@{/login}">
                <label>Username</label>
                <br>
                <input id="username" placeholder="Username" name="username" type="text">
                <br>
                <label>Password</label>
                <br>
                <input id="password" type="password" placeholder="Password" name="password">

                <button type="submit" value="Log in">Login</button>
            </form>
        </div>
    </div>
</section>
</html>