<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
>
<head>
    <title>Register</title>
</head>
<section layout:fragment="body">
    <div class="main">
        <div th:if="${param.fail}" class="alert alert-danger">
            Username or email already exists
        </div>
        <div class="main d-flex justify-content-center my-5">
            <form
                    th:object="${user}"
                    th:action="@{/register}"
                    method="post"
                    class="row needs-validation ml-4"  novalidate >

                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">First name</label>
                    <input
                            th:field="*{firstName}"
                            th:value="${user.getFirstName() == null ? '': user.getFirstName()}"
                            type="text" class="form-control" id="validationCustom01" placeholder="Mark" required>
                    <div class="valid-feedback"></div>
                </div>

                <div class="col-md-4">
                    <label  for="validationCustom02" class="form-label">Last name</label>
                    <input
                            th:field="*{lastName}"
                            th:value="${user.getLastName() == null ? '': user.getLastName()}"
                            type="text" class="form-control" id="validationCustom02" placeholder="Otto" required>
                    <div class="valid-feedback"></div>
                </div>

                <div class="col-md-4">
                    <label for="dob">Date of birth</label>
                    <input
                            th:field="*{dob}"
                            th:value="${user.getDob() == null ? '': user.getDob()}"
                            type="date" class="form-control" id="dob" placeholder="name@example.com">
                    <div class="valid-feedback"></div>

                </div>

                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="">@</span>
                        <input
                                th:field="*{userName}"
                                th:value="${user.getUserName() == null ? '': user.getUserName()}"
                                type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="valid-feedback"></div>

                    </div>
                </div>

                <div class="col-md-4">
                    <label for="userTypeSelect" class="form-label">User Type</label>
                        <select
                                th:field="*{profileType}"
                                th:value="${user.getProfileType()}"
                                class="form-control dropdown-toggle" id="userTypeSelect">
                            <option th:each="profile : ${profileTypes}" th:value="${profile}" th:text="${profile}"></option>
                        </select>
                        <div class="valid-feedback"></div>
                </div>

                <div class="col-md-4">
                    <label for="floatingInput" class="form-label">Email address</label>
                    <input
                            th:field="*{email}"
                            th:value="${user.getEmail() == null ? '': user.getEmail()}"
                            type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <div th:text="${failed}" class="valid-feedback" ></div>

                </div>
                <div class="col-md-4">
                    <label for="floatingPassword">Password</label>
                    <input
                            th:field="*{password}"
                            type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <div th:text="${failed}" class="valid-feedback" ></div>
                </div>


                <button type="submit" class="btn btn-primary" >Register </button>
            </form>
        </div>
    </div>
</section>

</html>