<div th:fragment="modal (collateral, user)">
    <div class="modal fade" id="archiveCollateralModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         th:attrappend="id=${collateral.id}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Collateral?</h5>
                    <button type="button" class="btn btn-close" data-dismiss="modal" />
                </div>
                <div class="modal-body">
                    <p th:text="'You are about to delete collateral ID=' + ${collateral.id} + '. Proceed?'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form role="form" method="post"
                          style="display: inline"
                          th:action="@{/collateral/{userName}/{collateralId}/delete(userName=${user.getUserName()}, collateralId=${collateral.getId()})}">
                        <button type="submit" class="btn btn-danger">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>