<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
><head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body class="d-flex flex-column h-75">
  <section layout:fragment="body">
    <div class="main mx-auto w-50 my-5">
      <h1>Something went wrong!</h1>
      <h2>Our engineers are on it.</h2>
      <a href="/" class="btn btn-dark"><i class="fa fa-home"></i></a>
    </div>
  </section>
</body>
</html>