<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <title>Fair Hand Borrowing</title>
</head>
<body>
    <div th:insert="~{Components/HeaderFooterComponents :: header}"></div>
    <p>categories are the different types of loans that can be held - transporation / housing / etc      </p>


    <br />
    <br />
    <br />
    <div th:insert="~{Components/DevComponents :: dev-nav}"></div>



    <div th:insert="~{Components/HeaderFooterComponents :: footer}"></div>


</body>
</html>