<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>FHB- Collateral</title>
    <link th:href="@{Css/Collateral.css}" rel="stylesheet">

    <style>
      #addNew{
        margin: 1% 5% 4% 5% ;

      }

    </style>

</head>
<body>
  <div th:insert="~{Components/HeaderFooterComponents :: header}"></div>







<!--  <div th:if="${#fields.hasErrors('itemName')}" th:errors="${collateral.itemName}"> </div>-->
<!--  <div th:if="${#fields.hasErrors('brand')}" th:errors="${collateral.brand}"> </div>-->
<!--  <div th:if="${#fields.hasErrors('decription')}" th:errors="${collateral.decription}"> </div>-->
<!--  <div th:if="${#fields.hasErrors('condition')}" th:errors="${collateral.condition}"> </div>-->
<!--  <div th:if="${#fields.hasErrors('marketValue')}" th:errors="${collateral.marketValue}"> </div>-->

  <!--margin left/right 5 -->
  <form id="addNew" class="row g-3 ml-5" th:object="${collateral}" method="post" th:action="@{/collateral/add}">

    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Collateral Name</label>
      <input th:field="*{itemName}" type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Collateral Brand</label>
      <input th:field="*{brand}" type="text" class="form-control" id="inputPassword4">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Collateral Description</label>
      <textarea th:field="*{decription}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


    make me into a drop down
    <div class="mb3 ">
      <div class="form-check">
        <input th:field="*{condition}" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="excellent" checked>
        <label  class="form-check-label" for="exampleRadios1">
          Excellent Condition
        </label>
      </div>

      <div class="form-check">
        <input th:field="*{condition}" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="good">
        <label class="form-check-label" for="exampleRadios2">
          Good Condition
        </label>
      </div>

      <div class="form-check">
        <input th:field="*{condition}" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="fair">
        <label class="form-check-label" for="exampleRadios3">
          Fair Condition
        </label>
      </div>

      <div class="form-check">
        <input th:field="*{condition}" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="worn">
        <label class="form-check-label" for="exampleRadios4">
          Worn Condition
        </label>
      </div>

    </div>


    <div class="col-md-3">
      <label for="inputZip" class="form-label">Fair Market Value</label>
      <input th:field="*{marketValue}" type="text" class="form-control" id="inputZip">
    </div>


    <div class="col-12">
      <button type="submit" class="btn btn-primary">add new collateral</button>
    </div>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">InUse</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="oneItem: ${all}">
      <td th:text="${oneItem.getBrand()}">Brand</td>
      <td th:text="${oneItem.getItemName()}">Name</td>
      <td th:text="${oneItem.getMarketValue()}">Value</td>
      <td th:text="${oneItem.getInUse()}">InUse</td>
      <td >Edit</td>
      <td >Delete</td>

    </tr>
    </tbody>
  </table>





  <div th:insert="~{Components/HeaderFooterComponents :: footer}"></div>
</body>
</html>