<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>FHB-Loan</title>

<!--    https://www.baeldung.com/thymeleaf-js-function-call-->
<!--    documentation states to do it in line -->


    <style>
        #theForm{
            margin:1% 5% 2% 5%;
        }

    </style>

    <script  th:inline="javascript">
        function greetWorld(price) {
            alert("get the item price and put t in the COllateral list header")
            document.getElementById("labelColList").innerText="$33"

        }

        function salute(name) {
            alert("hello: " + name)


        }
    </script>


</head>
<section layout:fragment="body">
<div th:insert="~{Components/HeaderFooterComponents ::header}" />



<!--<button th:data-name="${collateral.getItemName()}"-->
<!--        th:onclick="salute(this.getAttribute('data-name'))">using data attribute</button>-->



<form id="theForm" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-3">
        <label  for="amountToBorrow">I want to borrow </label>
        <div class="input-group">

            <div class="input-group-text">$</div>
            <input type="text" class="form-control" id="amountToBorrow" placeholder="1500">
        </div>
    </div>
    <div class="col-3">
        <label for="inlineFormInputGroupUsername">at interest rate of </label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="6">
            <div class="input-group-text">%</div>
        </div>
    </div>
    <div class="col-3">
        <label for="inlineFormSelectPref">repayment over months </label>
        <select class="form-select" id="inlineFormSelectPref">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
            <option value="3">11</option>
            <option value="3">12</option>
        </select>
    </div >
    <br >
    <hr />


    <label id="labelColList" for="collateralList">Collateral List </label>
    <div id="collateralList" class="col-10">
        <div th:each="oneOpt :${collateralList}" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input th:onclick="greetWorld()" type="checkbox" class="btn-check" th:value="${oneOpt.getItemName()}" id="btncheck1" autocomplete="off">
            <label  class="btn btn-outline-primary" th:text="${oneOpt.getItemName() }" for="btncheck1">Checkbox 1</label>
        </div>
    </div>



    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>



<div th:insert="~{Components/HeaderFooterComponents ::footer}" />

</section>
</html>