<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
><head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body">
      <div class="text-center mb-5">
          <h3 class="fw-bolder">Loans</h3>
      </div>
      <a class="btn btn-primary" th:href="@{/loan/{userName}/new(userName=${user.getUserName()})}">Create Loan</a>
      <div th:if="${loans.isEmpty()}">NO AVAILABLE LOANS</div>
      <div th:if="${!loans.isEmpty()}"th:each="loan : ${loans}">
          <div class="position-relative mb-3">
              <a th:text="${loan.toString()}">Loan</a>
          </div>
      </div>
      <br>
      <div class="text-center mb-5">
          <h3 class="fw-bolder">Collaterals</h3>
      </div>
      <a class="btn btn-primary" th:href="@{/collateral/{userName}/new(userName=${user.getUserName()})}">Create Collateral</a>
          <div th:if="${collaterals.isEmpty()}">NO AVAILABLE COLLATERALS</div>
      <div th:if="${!collaterals.isEmpty()}"th:each="collateral : ${collaterals}">
          <div class="position-relative mb-3">
              <a th:text="${collateral.getBrand()}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Brand</a>
              <a th:text="${collateral.getItemName()}">Item Name</a>
              <a th:text="${collateral.getCondition()}">Condition</a>
              <a th:text="${collateral.getMarketValue()}">Market Value</a>
              <a th:text="${collateral.getInUse()}">In Use</a>
          </div>
      </div>
  </section>
</main>
</body>

</html>