<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
><head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <section layout:fragment="body" class="mx-auto" style="width: 80vw">
        <div class="text-center mb-5">
            <h3 class="fw-bolder">Pending Fund Requests</h3>
        </div>
        <div th:if="${fundRequests.isEmpty()}">NO AVAILABLE FUNDING REQUESTS</div>

        <table class="table table-striped table-hover" th:if="${!fundRequests.isEmpty()}">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Borrower's Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Interest Rate</th>
                <th scope="col">Months To Pay</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fundRequest : ${fundRequests}">
                <td th:text="${fundRequest.getLoan().getId()}"></td>
                <td th:text="${fundRequest.getLoan().getUser().getUsername() + ' ' + fundRequest.getLoan().getUser().getLastName()}"></td>
                <td th:text="${fundRequest.getLoan().getAmountBorrowed()}"></td>
                <td th:text="${fundRequest.getLoan().getInterestRate()}"></td>
                <td th:text="${fundRequest.getLoan().getMonthsToPay()}"></td>
                <td>To Do Description</td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptFundingModal" th:attrappend="data-target=${fundRequest.getLoan().getId()}">
                        <i class="fa fa-check"></i>
                    </button>

                    <!-- Accept Funding Request Modal -->
                    <div class="modal fade" id="acceptFundingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                         th:attrappend="id=${fundRequest.getLoan().getId()}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Accept Loan Request</h5>
                                    <button type="button" class="btn btn-close" data-dismiss="modal" />
                                </div>
                                <form class="needs-validation" novalidate
                                      method="post"
                                      th:action="@{/funds/{userName}/{fundLoanId}/acceptance(userName=${user.getUserName()}, fundLoanId=${fundRequest.getLoanFundId()})}"
                                >
                                    <div class="modal-body">
                                        <p th:text="'Enter the fund amount you would lend. Note that this is going to be deducted from your vault upon acceptance.'" />
                                        <div class="form-row">
                                            <label for="fundAmount">Fund Amount</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                                                </div>
                                                <input type="number" name="fundAmount" step="0.01" min="20" max="1000" class="form-control" id="fundAmount" placeholder="Enter Fund Amount" aria-describedby="inputGroupPrepend" required>
                                                <div class="invalid-feedback">
                                                    Please enter a valid fund amount.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Accept Loan Request</button>
                                    </div>
                                </form>
                                <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </section>
</main>
</body>
</html>

